.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.container-title {
  font-size: 18px;
  margin-bottom: 24px;
}

body {
  margin: 0;
  padding: 0;
}

.test-box {
  width: 360px;
  height: 360px;
  background-color: black;
  position: absolute;
  z-index: -1;
}
